.container-landing {
    background: url('../assets/john-looy-X3DZ1c7MPa4-unsplash.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-landing h2 {
    color: #2871B7;
    font-size: 45px;
    font-weight: 600;
}
.list-infos-plus p {
    margin: 0;
    padding: 0;
}

.list-infos-plus-container {
    background: #D8F2FF;
    display: flex; 
    justify-content: space-between;
}

.list-infos-plus-container p, .list-infos-plus-container i {
    display: flex;
}

.list-infos-plus-container i {
    color : #CFCFCF;
    font-size: 1.5rem;
}
.vl {
    border-left: 1px solid #CFCFCF;
  }

  footer a {
      text-decoration: none;
      color: black !important;
  }

  footer h5 {
      border-bottom: #444444 solid 2px;
      font-weight: 600;
      font-size: 1rem;
  }

